//
$yellow: #feb900;
$title-color: #52565e;
$text-color: #364d59;
$link-color: rgba(255, 255, 255, 0.7);
$useful-link-color: rgba(255, 255, 255, 0.6);
$footer-before: rgba(0, 0, 0, 0.8);
$icon-bg: rgba(255, 255, 255, 0.1);
$grey-text: rgba(255, 255, 255, 0.8);
$main-bg: #f5f6f7;
$white: #fff;

$primary-font: 'Roboto', sans-serif;
$default-family: 'Open Sans', sans-serif;